<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>

    <title>Gite HTML CSS</title>


</head>

<body>
    <section class="top-page">
        <header class="Hearder">
            <!--Logo-->
            <img src="images/moulin.png" alt="Logo du site">

            <!--MENU-->
            <nav class="nav">

                <li><a href="Gîtes">Gîtes</a></li>
                <li><a href="Studios">Studios</a></li>
                <li><a href="Services">services</a></li>
                <li><a href="Tourisme">Tourisme</a></li>
                <li><a href="Contact">Contact</a></li>
                

            </nav>

        </header>

        <div class=" landing-page">
            <h1 class="big-title">Gîtes Du Moulin</h1>
            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur, molestiae?</h3>


            <!--Scroll-->
            <a class="Scroll-down" href="">Scroll<i class="fas fa-angle-down"></i></a>

        </div>
    </section>
    <main>
        <section class="container">


            <div class="item">
                <img src="./images/tropic.jpg" width="100%">
                <a href="">
                    <h2 class="title">Nos Studios</h2>
                </a>

                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.Cumque, quaerat!</p>

            </div>




            <div class="item">
                <img src="./images/background_gite.png" width="100%">
                <a href="">
                    <h2 class="title">Nos Gîtes</h2>
                </a>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, quaerat!</p>

            </div>





            <div class="item">

                <img src="./images/Gastronomie.png" width="80%">
                <a href="">
                    <h2 class="title">Gastronomie</h2>
                </a>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, distinctio.</p>

            </div>

        </section>

        <!--------------------------------------FOOTER---------------------------------------------->
        <footer>
            <div class="contenu-footer">
                <!------------------------------------------------- services ---------------------------------------------------->

                <div class="bloc footer-services">
                    <h3>Nos Services</h3>
                    <ul class="liste-services">

                        <li><a href="#">contact</a></li>
                        <li><a href="#">A Propos</a></li>
                        <li><a href="#">Nous suivre</a></li>
                        <li><a href="#"> Réseaux Sociaux</a></li>
                    </ul>
                </div>

                <!---------------------------------------------contacter-------------------------------------------  -->

                <div class="bloc footer-contact">
                    <h3>Nous contacter</h3>
                    <p>01.xx.xx.xx.22</p>
                    <p>supportclients@contact.com</p>
                    <p>18, Rue Des Chemin bizzar</p>
                </div>

                <!------------------------------------------------ horaires ------------------------------------------->
                <div class="bloc footer-horaires">
                    <h3>Les horaires</h3>
                    <ul class="liste-horaires">

                        <li>Lun ✔️ 10h-19h</li>
                        <li>Mar ✔️ 10h-19h</li>
                        <li>Mer ✔️ 10h-19h</li>
                        <li>Jeu ✔️ 10h-19h</li>
                        <li>Ven ✔️ 10h-19h</li>
                        <li>Sam ❌ fermé</li>
                        <li>Dim ❌ fermé</li>
                    </ul>
                </div>

                <!----------------------------------------------------- media---------------------------------------- -->

                <div class="bloc footer-media">
                    <h3>Nos Réseaux</h3>
                    <ul class="liste-media">
                        <li><a href="#"><img src="https://cdn-icons-png.flaticon.com/128/5968/5968764.png"
                                    alt="">Facebook</a></li>
                        <li><a href="#"><img src="https://cdn-icons-png.flaticon.com/128/1384/1384063.png"
                                    alt="">Instagram</a></li>
                        <li><a href="#"><img src="https://cdn-icons-png.flaticon.com/128/733/733579.png"
                                    alt="">Twitter</a></li>

                    </ul>
                </div>







            </div>

        </footer>




        </section>
    </main>










</body>

</html>